.aproposContent {
    .collapse {
        margin-bottom: 20px; // Ajout d'une marge entre les sections collapsibles

        .collapse-content {
            p {
                font-size: 0.6rem;
                padding: 0 5px;
                margin: 0;
            }
        }
    }
}
