@import "./settings.scss";

.aproposContent {
    .collapse {
        width: 70%;
        margin-bottom: 10px;

        .collapse-content {
            background-color: $color1;;
            p {
                font-size: 0.7rem;
                padding: 10px;
                margin: 0;
                text-align: center;
            }
        }
    }
}
