.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;


    img {
        width: 100%;
        height: 180px;
        border-radius: 10px;
    }

    .cardcontent{

        .cardheader{
            display: flex;
            justify-content: space-between;
            
            .cardtitle {
                width: 50%;
                h2 {
                    font-size: 1.1rem;
                    color: #FF6060 ;
                }
                p {
                    font-size: 0.8rem;
                }
                .cardtags {

                    span {
                        background-color: #FF6060;
                        color: white;
                        border-radius: 5px;
                        font-size: 0.7rem;
                        padding: 0 5px;
                        margin: 5px;
                    }
                }
            }
            .cardhost {
                width: 50%;
                text-align: end;
                
                p {
                    color: #FF6060;
                    
                }
                img {
                    display: inline;
                }
            }
        }
        
    }




}
