.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;


    .cardimage img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .cardcontent{

        .cardheader{
            display: flex;
            justify-content: space-between;
            
            .cardtitle {
                width: 100%;
                h2 {
                    font-size: 1rem;
                    color: #FF6060 ;
                    margin: 10px 0 0 0;
                    font-weight: 500;
                }
                p {
                    margin: 0 0 10px 0;
                    font-size: 0.7rem;
                }
                .cardtags {
                    display: flex;

                    span {
                        padding: 0 20px 2px 20px ;
                        margin-right: 5px;
                        background-color: #FF6060;
                        color: white;
                        border-radius: 10px;
                        font-size: 0.6rem;
                    }
                }
            }
            .cardhost {
                width: 50%;
                text-align: end;
                margin-top: 5px;

                .host{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    
                    p {
                        color: #FF6060;
                        width: 20%;
                        padding-right: 10px;
                        font-size: 0.7rem;
                    }
                    img {
                        height: 40px;
                        border-radius: 20px;
                    }
                }
                .cardrating{
                    .star{
                        color: gray;
                    }
                    .star.filled{
                        color: #FF6060;
                        
                    }
                }
            }
        }
        .cardcollapse {
            display: flex;
            font-size: 0.6rem;

            .collapse {
                padding: 5px;
            }
            .collapse-content {
                width: 90%;

                ul{
                    padding-inline-start: 0;
                    list-style-type: none;
                    
                    li {
                        text-decoration: none;
                    }
                }
            }
        }
    }




}
