.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    .collapse-header {
        width: 100%;

        .collapse-button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $color2;  
            border-radius: 2px;
            border: none;
            color: white;
            padding: 5px 10px;
            font-size: 0.8rem;
            width: 100%;
            text-align: left;

            span {
                cursor: pointer;
                margin-left: auto;
                transition: transform 0.4s; 
            }

            &.active span {
                transform: rotate(180deg);
            }
        }
    }


}
