.messageErreur {
    text-align: center;
    margin-top: -50px;

    h1{
        color: #FF6060;
        font-size: 6rem;
       
    }
    h2{
        color: #FF6060;
       
    }
    p{
        color: black;
        text-decoration:underline black;
       
    }

}